<p>您的账号目前正在订阅 简信开源版发布信息，点击连接
  <a href="<%= dump_url('verify', current_account) %>"><%= dump_url('verify', current_account) %></a> 完成操作。
</p>

<p style="color: #a1a1a1; font-size: 12px;">如果连接无法打开，请将链接 <%= dump_url('verify', current_account) %> 复制至浏览器地址栏进行访问。</p>
