<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong><span class="glyphicon glyphicon-star"></span></strong> 登录以获得更多操作权限
</div>

<div style="text-align: center; margin-top: 10%">
  <a href="/auth/github" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-heart"></span>
    使用 GitHub 登录
  </a>
</div>